.columnCard {
  margin-bottom: 2.5rem;
}
.columnCard .card {
  height: 100%;
}
.columnCard .card a {
  display: flex;
  height: 100%;
}
.card :global(.slick-dots li button:before) {
  display: none;
}
.card :global(.ant-carousel .slick-prev), .card :global(.ant-carousel .slick-next) {
  color: #ffffff;
  opacity: 0;
  transition: 0.4s ease all;
  z-index: 999;
  visibility: hidden;
}
.card :global(.ant-carousel:hover .slick-prev), .card :global(.ant-carousel:hover .slick-next) {
  visibility: visible;
  opacity: 0.5;
}
.card :global(.ant-carousel .slick-prev::before), .card :global(.ant-carousel .slick-next::before) {
  background: #ffffff;
  border-radius: 50%;
  color: #222222;
  display: block;
  font-size: 1rem;
  height: 100%;
  line-height: 1.4rem;
  width: 100%;
}
.card :global(.ant-carousel .slick-prev:hover), .card :global(.ant-carousel .slick-next:hover) {
  opacity: 0.8;
}
.card :global(.ant-carousel .slick-prev) {
  left: 1rem;
}
.card :global(.ant-carousel .slick-next) {
  right: 1rem;
}
.card .carouselContainer {
  height: 18rem;
  width: 100%;
}
.card .carouselContainer img {
  border-radius: 1rem;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.card :global(.ant-card ) {
  border-radius: 1rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 8px -1px rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  overflow: hidden;
}
.card :global(.ant-card .ant-card-body) {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0;
}
.card .cardDescription {
  display: flex;
  flex:  1 1 50%;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.card .cardTitle {
  color: #231ca7;
  font-weight: 600;
  line-height: 1.2rem;
  margin-bottom: 0.4rem;
}
.card .price span {
  font-weight: bold;
}
.card .location {
  color: #717171;
  font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 0.4rem;
}
@media screen and (max-width: 640px) {
  .columnCard {
    margin-bottom: 2rem;
  }
}